{% extends "layout.html" %}

{% block title %}
    Reply
{% endblock %}

{% block main %}
    <form action="/reply" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"  name="subject" placeholder="Subject" type="text">
        </div>
        <div class="mb-3">
            <textarea name="body" rows="10" cols="50" placeholder="Body"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Send Email</button>
    </form>
{% endblock %}
